.ProfileCard{
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    background-color: var(--cardColor);
    overflow-x: clip;
    padding-bottom: 8px;
}

.ProfileImages{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProfileImages>img:nth-of-type(1){
    width: 100%;
}
.ProfileImages>img:nth-of-type(2){
    width: 6rem;
    position: absolute;
    border-radius: 50%;
    bottom: -3rem;
    box-shadow: var(--profileShadow);
}

.ProfileName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 10px;
}
.ProfileName>span:nth-of-type(1){
    font-weight: 700;
}
.DepartmentName{
    font-size: 13px;
    font-weight: 500;
    word-spacing: 5px;
    letter-spacing: 1px;
}

/* Follow status css code here */
.followStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}
.followStatus > hr{
    width: 85%;
    border: 1px solid var(--hrColor);
}
.followStatus > div{
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.follow{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}
.follow > span:nth-of-type(1){
    font-weight: 700;
}
.follow > span:nth-of-type(2){
    font-size: 13px;
    color: var(--gray);
}
.vl{
    height: 150%;
    border-left: 2px solid var(--hrColor);
}

.ProfileCard > span{
    font-weight: 700;
    color: #5e6eff;
    align-self: center;
    margin: 0 0 1rem 0;
    cursor: pointer;
}